In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression

In [2]:
import pickle

In [3]:
df_train = pd.read_csv('../Kaggle/Alice/train_sessions.csv')
df_test = pd.read_csv('../Kaggle/Alice/test_sessions.csv')

In [4]:
#df_train.head()

In [5]:
#t = [i for i in range(1, 11)]
#t

In [6]:
#t = ['tt%d' % i for i in range(1, 11)]
#t

In [4]:
time = ['time%d' % i for i in range(1, 11)]
time

['time1',
 'time2',
 'time3',
 'time4',
 'time5',
 'time6',
 'time7',
 'time8',
 'time9',
 'time10']

In [6]:
#df_train[time]

In [5]:
df_train[time] = df_train[time].apply(pd.to_datetime)
df_test[time] = df_test[time].apply(pd.to_datetime)

In [8]:
#df_test.head()

In [11]:
#df_test.head()

In [6]:
df_train.sort_values('time1', inplace=True)

In [7]:
df_train.index = df_train['session_id']
df_train.index.name = 'session_id'
df_train.drop('session_id', axis=1, inplace=True)
df_train.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

In [8]:
df_test.index = df_test['session_id']
df_test.index.name = 'session_id'
df_test.drop('session_id', axis=1, inplace=True)
df_test.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
1,29,2014-10-04 11:19:53,35.0,2014-10-04 11:19:53,22.0,2014-10-04 11:19:54,321.0,2014-10-04 11:19:54,23.0,2014-10-04 11:19:54,2211.0,2014-10-04 11:19:54,6730.0,2014-10-04 11:19:54,21.0,2014-10-04 11:19:54,44582.0,2014-10-04 11:20:00,15336.0,2014-10-04 11:20:00
2,782,2014-07-03 11:00:28,782.0,2014-07-03 11:00:53,782.0,2014-07-03 11:00:58,782.0,2014-07-03 11:01:06,782.0,2014-07-03 11:01:09,782.0,2014-07-03 11:01:10,782.0,2014-07-03 11:01:23,782.0,2014-07-03 11:01:29,782.0,2014-07-03 11:01:30,782.0,2014-07-03 11:01:53
3,55,2014-12-05 15:55:12,55.0,2014-12-05 15:55:13,55.0,2014-12-05 15:55:14,55.0,2014-12-05 15:56:15,55.0,2014-12-05 15:56:16,55.0,2014-12-05 15:56:17,55.0,2014-12-05 15:56:18,55.0,2014-12-05 15:56:19,1445.0,2014-12-05 15:56:33,1445.0,2014-12-05 15:56:36
4,1023,2014-11-04 10:03:19,1022.0,2014-11-04 10:03:19,50.0,2014-11-04 10:03:20,222.0,2014-11-04 10:03:21,202.0,2014-11-04 10:03:21,3374.0,2014-11-04 10:03:22,50.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:22,48.0,2014-11-04 10:03:23,3374.0,2014-11-04 10:03:23
5,301,2014-05-16 15:05:31,301.0,2014-05-16 15:05:32,301.0,2014-05-16 15:05:33,66.0,2014-05-16 15:05:39,67.0,2014-05-16 15:05:40,69.0,2014-05-16 15:05:40,70.0,2014-05-16 15:05:40,68.0,2014-05-16 15:05:40,71.0,2014-05-16 15:05:40,167.0,2014-05-16 15:05:44

In [15]:
#df_test.iloc[1, 3]

In [9]:
site = ['site%d' % i for i in range(1, 11)]
site

['site1',
 'site2',
 'site3',
 'site4',
 'site5',
 'site6',
 'site7',
 'site8',
 'site9',
 'site10']

In [10]:
df_train[site] = df_train[site].fillna(0).astype('int')
df_test[site] = df_test[site].fillna(0).astype('int')

In [18]:
#df_train.head()

In [11]:
with open(r'../Kaggle/Alice/site_dic.pkl', 'rb') as file:
    site_dict = pickle.load(file)

In [20]:
#len(site_dict)

In [12]:
site_dict_df = pd.DataFrame(list(site_dict.keys()), index=list(site_dict.values()), columns=['site'])

In [23]:
#pd.DataFrame?

In [25]:
#site_dict_df.head()

In [13]:
y_train = df_train['target']
y_train.head()

session_id
21669     0
54843     0
77292     0
114021    0
146670    0
Name: target, dtype: int64

In [14]:
full_df = pd.concat([df_train.drop(['target'], axis=1), df_test], sort=False)

In [15]:
df_train.shape

(253561, 21)

In [16]:
full_df.shape

(336358, 20)

In [20]:
#full_df[full_df.index == 1]

In [17]:
how_much_is_the_train = df_train.shape[0]
how_much_is_the_train

253561

In [18]:
full_site_df = full_df[site]
full_site_df.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947

#### create an index to separate train and test samples

In [19]:
from scipy.sparse import csr_matrix

In [20]:
sites_flatten = full_site_df.values.flatten()

In [21]:
sites_flatten.shape,full_site_df.shape

((3363580,), (336358, 10))

In [22]:
len(full_site_df)

336358

In [23]:
full_sites_sparse = csr_matrix(([1]*sites_flatten.shape[0],
                               sites_flatten,
                               range(0, sites_flatten.shape[0]+10, 10)))[:, 1:]

In [29]:
#full_sites_sparse?

In [24]:
full_sites_sparse.shape, how_much_is_the_train

((336358, 48371), 253561)

In [25]:
X_train_sparse = full_sites_sparse[:how_much_is_the_train]
X_test_sparse = full_sites_sparse[how_much_is_the_train:]

In [26]:
X_train_sparse.shape, X_test_sparse.shape

((253561, 48371), (82797, 48371))

In [28]:
#logit = LogisticRegression?

In [29]:
logit = LogisticRegression

In [30]:
logit = LogisticRegression(random_state=17, n_jobs=-1)

In [31]:
logit.fit(X_train_sparse, y_train)

c:\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\python37\lib\site-packages\sklearn\linear_model\logistic.py:1544: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=-1, penalty='l2', random_state=17,
                   solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [32]:
pred = logit.predict(X_test_sparse)
pred[:20]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [33]:
pred_prob = logit.predict_proba(X_test_sparse)
pred_prob[:20]

array([[9.97790467e-01, 2.20953276e-03],
       [9.99999995e-01, 4.80745071e-09],
       [9.99999981e-01, 1.87298861e-08],
       [9.99999976e-01, 2.35286556e-08],
       [9.99968682e-01, 3.13176009e-05],
       [9.99781591e-01, 2.18408824e-04],
       [9.99452205e-01, 5.47794527e-04],
       [9.99867768e-01, 1.32232296e-04],
       [9.99204918e-01, 7.95082176e-04],
       [8.96862778e-01, 1.03137222e-01],
       [9.99969628e-01, 3.03715636e-05],
       [9.99913552e-01, 8.64479613e-05],
       [9.99562434e-01, 4.37565793e-04],
       [6.42260615e-01, 3.57739385e-01],
       [9.99949811e-01, 5.01887712e-05],
       [9.95990617e-01, 4.00938251e-03],
       [9.84800043e-01, 1.51999574e-02],
       [9.99968076e-01, 3.19243114e-05],
       [9.99066174e-01, 9.33826334e-04],
       [9.99999727e-01, 2.72956041e-07]])

In [34]:
def get_auc_lr_validation(X, y, C=1.0, ratio=0.9, seed=17):
    train_len = int(X.shape[0]*ratio)
    X_train = X[:train_len, :]
    X_valid = X[train_len:, :]
    y_train = y[:train_len]
    y_valid = y[train_len:]
    
    logit = LogisticRegression(n_jobs=2, C=C, random_state=seed)
    logit.fit(X_train, y_train)
    valid_pred = logit.predict_proba(X_valid)[:, 1]
    
    
    return roc_auc_score(y_valid, valid_pred)

In [35]:
a = get_auc_lr_validation(X_train_sparse, y_train)

In [53]:
a

0.9195282186629375