In [1]:
import pickle
import numpy as npp
import pandas as pd
from tqdm import tqdm_notebook
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('../Kaggle/Alice/train_sessions.csv')
df_test = pd.read_csv('../Kaggle/Alice/test_sessions.csv')

In [3]:
df_train.head(3)

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
0,1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
2,3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0

In [9]:
times = ['time%d' % i for i in range(1, 11)]
times

['time1',
 'time2',
 'time3',
 'time4',
 'time5',
 'time6',
 'time7',
 'time8',
 'time9',
 'time10']

In [10]:
df_train[times] = df_train[times].apply(pd.to_datetime)
df_test[times] = df_test[times].apply(pd.to_datetime)

In [11]:
df_train[times].iloc[1, 1]

Timestamp('2014-02-22 11:19:50')

In [12]:
df_train=df_train.sort_values(by='time1')

In [13]:
df_train.index = df_train.session_id
df_train.index.name = 'session_id'
df_train = df_train.drop(['session_id'], axis=1)

In [14]:
df_train.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

In [29]:
df_test.index = df_test.session_id
df_test = df_test.drop(['session_id'], axis=1)
df_test

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
1,29,2014-10-04 11:19:53,35,2014-10-04 11:19:53,22,2014-10-04 11:19:54,321,2014-10-04 11:19:54,23,2014-10-04 11:19:54,2211,2014-10-04 11:19:54,6730,2014-10-04 11:19:54,21,2014-10-04 11:19:54,44582,2014-10-04 11:20:00,15336,2014-10-04 11:20:00
2,782,2014-07-03 11:00:28,782,2014-07-03 11:00:53,782,2014-07-03 11:00:58,782,2014-07-03 11:01:06,782,2014-07-03 11:01:09,782,2014-07-03 11:01:10,782,2014-07-03 11:01:23,782,2014-07-03 11:01:29,782,2014-07-03 11:01:30,782,2014-07-03 11:01:53
3,55,2014-12-05 15:55:12,55,2014-12-05 15:55:13,55,2014-12-05 15:55:14,55,2014-12-05 15:56:15,55,2014-12-05 15:56:16,55,2014-12-05 15:56:17,55,2014-12-05 15:56:18,55,2014-12-05 15:56:19,1445,2014-12-05 15:56:33,1445,2014-12-05 15:56:36
4,1023,2014-11-04 10:03:19,1022,2014-11-04 10:03:19,50,2014-11-04 10:03:20,222,2014-11-04 10:03:21,202,2014-11-04 10:03:21,3374,2014-11-04 10:03:22,50,2014-11-04 10:03:22,48,2014-11-04 10:03:22,48,2014-11-04 10:03:23,3374,2014-11-04 10:03:23
5,301,2014-05-16 15:05:31,301,2014-05-16 15:05:32,301,2014-05-16 15:05:33,66,2014-05-16 15:05:39,67,2014-05-16 15:05:40,69,2014-05-16 15:05:40,70,2014-05-16 15:05:40,68,2014-05-16 15:05:40,71,2014-05-16 15:05:40,167,2014-05-16 15:05:44
6,1218,2014-12-05 11:21:52,1220,2014-12-05 11:21:52,1202,2014-12-05 11:21:52,1221,2014-12-05 11:21:52,1222,2014-12-05 11:21:52,302,2014-12-05 11:21:52,1217,2014-12-05 11:21:53,1216,2014-12-05 11:21:53,1221,2014-12-05 11:21:53,1220,2014-12-05 11:21:53
7,43986,2014-05-21 14:10:43,43986,2014-05-21 14:10:44,43986,2014-05-21 14:10:45,43986,2014-05-21 14:10:46,43986,2014-05-21 14:11:01,43986,2014-05-21 14:11:04,43986,2014-05-21 14:11:05,43986,2014-05-21 14:11:06,43986,2014-05-21 14:11:07,43986,2014-05-21 14:11:08
8,3346,2014-05-25 18:32:04,3346,2014-05-25 18:33:59,23,2014-05-25 18:34:03,3346,2014-05-25 18:34:03,3359,2014-05-25 18:34:03,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT
9,1062,2014-06-05 10:25:52,21,2014-06-05 10:25:52,23,2014-06-05 10:25:52,22,2014-06-05 10:25:52,11009,2014-06-05 10:25:53,8220,2014-06-05 10:25:53,1063,2014-06-05 10:25:53,21,2014-06-05 10:25:53,2896,2014-06-05 10:25:54,292,2014-06-05 10:25:54
10,77,2014-05-02 11:48:47,77,2014-05-02 11:48:48,75,2014-05-02 11:48:48,876,2014-05-02 11:48:49,80,2014-05-02 11:48:49,76,2014-05-02 11:48:49,23,2014-05-02 11:48:51,76,2014-05-02 11:48:51,75,2014-05-02 11:48:51,77,2014-05-02 11:48:51
11,301,2014-12-05 12:11:34,301,2014-12-05 12:11:35,66,2014-12-05 12:11:37,67,2014-12-05 12:11:38,70,2014-12-05 12:11:38,69,2014-12-05 12:11:38,71,2014-12-05 12:11:38,68,2014-12-05 12:11:38,302,2014-12-05 12:11:41,302,2014-12-05 12:11:42
12,625,2014-12-02 08:16:47,322,2014-12-02 08:16:51,148,2014-12-02 08:16:54,148,2014-12-02 08:16:55,747,2014-12-02 08:16:56,23,2014-12-02 08:16:58,513,2014-12-02 08:17:00,749,2014-12-02 08:17:00,23,2014-12-02 08:17:01,152,2014-12-02 08:17:03
13,20,2014-10-02 11:38:04,21,2014-10-02 11:38:04,21,2014-10-02 11:38:17,22,2014-10-02 11:38:18,23,2014-10-02 11:38:21,1022,2014-10-02 11:38:27,1023,2014-10-02 11:38:29,1023,2014-10-02 11:38:31,1025,2014-10-02 11:38:32,961,2014-10-02 11:38:46
14,263,2014-08-04 10:02:04,21,2014-08-04 10:02:04,263,2014-08-04 10:02:05,263,2014-08-04 10:02:06,265,2014-08-04 10:02:07,265,2014-08-04 10:02:24,265,2014-08-04 10:02:32,265,2014-08-04 10:02:41,265,2014-08-04 10:03:02,265,2014-08-04 10:03:18
15,722,2014-12-02 15:15:32,722,2014-12-02 15:15:43,722,2014-12-02 15:15:44,1589,2014-12-02 15:15:57,1589,2014-12-02 15:15:58,722,2014-12-02 15:15:58,287,2014-12-02 15:15:58,722,2014-12-02 15:16:01,1589,2014-12-02 15:16:13,722,2014-12-02 15:16:13
16,22889,2014-05-27 11:56:15,29,2014-05-27 11:56:15,147,2014-05-27 11:56:16,22889,2014-05-27 11:56:16,148,2014-05-27 11:56:16,29,2014-05-27 11:56:17,22889,2014-05-27 11:56:17,256,2014-05-27 11:56:19,22889,2014-05-27 11:56:19,256,2014-05-27 11:56:20
17,23,2014-05-03 16:36:18,21,2014-05-03 16:36:43,22,2014-05-03 16:36:43,23,2014-05-03 16:36:43,21,2014-05-03 16:38:52,21,2014-05-03 16:48:50,21,2014-05-03 16:49:15,35,2014-05-03 16:49:16,32319,2014-05-03 16:49:19,35,2014-05-03 16:49:19
18,23,2014-11-04 10:35:53,749,2014-11-04 10:35:53,747,2014-11-04 10:35:56,23,2014-11-04 10:35:56,753,2014-11-04 10:35:59,321,2014-11-04 10:35:59,220,2014-11-04 10:35:59,52,2014-11-04 10:35:59,48,2014-11-04 10:36:00,157,2014-11-04 10:36:00
19,52,2014-11-02 12:15:18,1981,2014-11-02 12:15:27,3379,2014-11-02 12:16:41,1980,2014-11-02 12:16:43,9946,2014-11-02 12:16:43,21,2014-11-02 12:16:45,57,2014-11-02 12:16:45,23,2014-11-02 12:16:47,5238,2014-11-02 12:16:47,5238,2014-11-02 12:16:48
20,780,2014-08-04 08:27:47,778,2014-08-04 08:27:49,778,2014-08-04 08:27:50,782,2014-08-04 08:28:04,778,2014-08-04 08:28:06,780,2014-08-04 08:28:09,778,2014-08-04 08:28:11,782,2014-08-04 08:28:34,782,2014-08-04 08:29:04,782,2014-08-04 08:29:34
21,21,2014-05-03 12:20:28,35,2014-05-03 12:20:30,29,2014-05-03 12:20:30,29,2014-05-03 12:20:35,35,2014-05-03 12:20:35,37,2014-05-03 12:20:38,29,2014-05-03 12:20:42,35,2014-05-03 12:20:42,35,2014-05-03 12:20:47,37,2014-05-03 12:20:48
22,23,2014-05-03 23:29:36,570,2014-05-03 23:33:38,570,2014-05-03 23:43:39,570,2014-05-03 23:53:39,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT
23,568,2014-05-19 14:05:32,747,2014-05-19 14:05:32,23,2014-05-19 14:05:32,513,2014-05-19 14:05:32,749,2014-05-19 14:05:32,23,2014-05-19 14:05:37,222,2014-05-19 14:07:21,52,2014-05-19 14:07:21,47366,2014-05-19 14:07:37,23,2014-05-19 14:08:23
24,22,2014-07-01 21:06:17,1453,2014-07-01 21:06:27,22,2014-07-01 21:06:28,774,2014-07-01 21:06:29,1451,2014-07-01 21:06:29,1453,2014-07-01 21:06:31,616,2014-07-01 21:06:33,1453,2014-07-01 21:06:33,1528,2014-07-01 21:06:43,1529,2014-07-01 21:06:45
25,76,2014-05-04 15:04:24,1057,2014-05-04 15:04:24,1057,2014-05-04 15:04:25,881,2014-05-04 15:04:25,77,2014-05-04 15:04:25,1307,2014-05-04 15:04:25,80,2014-05-04 15:04:26,78,2014-05-04 15:04:26,1057,2014-05-04 15:04:26,77,2014-05-04 15:04:26
26,2891,2014-05-28 16:19:11,48,2014-05-28 16:19:15,1984,2014-05-28 16:19:15,3379,2014-05-28 16:19:16,48,2014-05-28 16:19:16,961,2014-05-28 16:19:17,50,2014-05-28 16:19:18,48,2014-05-28 16:19:19,1980,2014-05-28 16:19:19,48,2014-05-28 16:19:29
27,30151,2014-12-02 10:55:08,30151,2014-12-02 10:55:09,30150,2014-12-02 10:55:17,13123,2014-12-02 10:55:17,7069,2014-12-02 10:55:17,29,2014-12-02 10:55:17,33,2014-12-02 10:55:19,13123,2014-12-02 10:55:19,30,2014-12-02 10:55:19,32,2014-12-02 10:55:19
28,803,2014-05-03 09:27:13,803,2014-05-03 09:27:15,803,2014-05-03 09:27:18,803,2014-05-03 09:27:37,803,2014-05-03 09:27:38,803,2014-05-03 09:27:40,803,2014-05-03 09:27:41,803,2014-05-03 09:27:43,616,2014-05-03 09:27:45,803,2014-05-03 09:28:21
29,21,2014-10-02 15:10:27,21,2014-10-02 15:10:39,21,2014-10-02 15:10:42,29,2014-10-02 15:11:02,30,2014-10-02 15:11:02,38,2014-10-02 15:11:02,21,2014-10-02 15:11:02,42570,2014-10-02 15:11:02,22,2014-10-02 15:11:02,42570,2014-10-02 15:11:03
30,1202,2014-12-05 18:13:49,1202,2014-12-05 18:14:00,1202,2014-12-05 18:14:02,1202,2014-12-05 18:14:04,1202,2014-12-05 18:14:06,1202,2014-12-05 18:14:07,1202,2014-12-05 18:14:09,1202,2014-12-05 18:14:11,1202,2014-12-05 18:14:13,1202,2014-12-05 18:14:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82768,1202,2014-05-16 15:46:49,1202,2014-05-16 15:46:51,1202,2014-05-16 15:47:37,1202,2014-05-16 15:47:38,302,2014-05-16 15:47:48,1220,2014-05-16 15:47:49,300,2014-05-16 15:47:49,302,2014-05-16 15:47:49,1222,2014-05-16 15:47:49,1221,2014-05-16 15:47:49
82769,883,2014-10-02 13:29:11,884,2014-10-02 13:29:11,5256,2014-10-02 13:29:11,5260,2014-10-02 13:29:12,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT
82770,678,2014-05-28 17:01:59,775,2014-05-28 17:02:12,678,2014-05-28 17:02:53,775,2014-05-28 17:03:04,678,2014-05-28 17:03:44,775,2014-05-28 17:03:57,678,2014-05-28 17:04:36,775,2014-05-28 17:04:51,678,2014-05-28 17:05:32,775,2014-05-28 17:05:48
82771,23695,2014-11-02 10:51:02,23695,2014-11-02 10:51:04,23695,2014-11-02 10:51:06,23695,2014-11-02 10:51:11,23695,2014-11-02 10:51:13,23695,2014-11-02 10:51:15,23695,2014-11-02 10:51:17,23695,2014-11-02 10:51:19,23695,2014-11-02 10:51:22,23695,2014-11-02 10:51:24
82772,33,2014-06-01 14:05:35,5392,2014-06-01 14:05:35,35,2014-06-01 14:05:35,5392,2014-06-01 14:05:37,5403,2014-06-01 14:05:38,5392,2014-06-01 14:05:38,29,2014-06-01 14:05:38,5845,2014-06-01 14:05:38,1349,2014-06-01 14:05:41,22,2014-06-01 14:05:41
82773,270,2014-06-02 15:53:01,167,2014-06-02 15:53:02,167,2014-06-02 15:53:03,812,2014-06-02 15:53:03,167,2014-06-02 15:53:04,359,2014-06-02 15:53:04,39,2014-06-02 15:53:04,676,2014-06-02 15:53:05,812,2014-06-02 15:53:06,270,2014-06-02 15:53:09
82774,1102,2014-10-02 08:34:05,21,2014-10-02 08:36:02,22,2014-10-02 08:36:14,39,2014-10-02 08:36:15,5563,2014-10-02 08:38:12,56,2014-10-02 08:39:42,55,2014-10-02 08:39:42,570,2014-10-02 08:40:53,570,2014-10-02 08:46:27,18996,2014-10-02 08:48:12
82775,3393,2014-07-03 10:47:05,3393,2014-07-03 10:47:07,3393,2014-07-03 10:47:08,335,2014-07-03 10:47:10,29,2014-07-03 10:47:12,33,2014-07-03 10:47:12,30,2014-07-03 10:47:12,35,2014-07-03 10:47:12,29,2014-07-03 10:47:34,37,2014-07-03 10:47:42
82776,122,2014-05-03 09:33:35,134,2014-05-03 09:33:36,134,2014-05-03 09:33:37,132,2014-05-03 09:33:37,2428,2014-05-03 09:33:46,132,2014-05-03 09:33:47,140,2014-05-03 09:33:54,30,2014-05-03 09:33:55,29,2014-05-03 09:33:55,29,2014-05-03 09:33:57
82777,301,2014-05-22 10:22:08,48,2014-05-22 10:22:08,76,2014-05-22 10:22:09,32,2014-05-22 10:22:09,29,2014-05-22 10:22:09,33,2014-05-22 10:22:10,301,2014-05-22 10:22:10,75,2014-05-22 10:22:10,29,2014-05-22 10:22:12,301,2014-05-22 10:22:13
82778,1086,2014-06-01 15:59:21,1086,2014-06-01 15:59:23,1086,2014-06-01 15:59:25,269,2014-06-01 15:59:59,1086,2014-06-01 16:01:18,6,2014-06-01 16:03:10,4954,2014-06-01 16:03:45,14906,2014-06-01 16:03:45,35,2014-06-01 16:03:46,29,2014-06-01 16:03:46
82779,300,2014-05-19 14:09:38,300,2014-05-19 14:09:41,302,2014-05-19 14:09:51,302,2014-05-19 14:09:52,302,2014-05-19 14:09:53,300,2014-05-19 14:09:53,302,2014-05-19 14:09:55,302,2014-05-19 14:09:56,1202,2014-05-19 14:09:56,300,2014-05-19 14:09:56
82780,66,2014-07-05 08:34:08,63,2014-07-05 08:34:08,21,2014-07-05 08:34:15,21,2014-07-05 08:34:16,23,2014-07-05 08:34:18,21,2014-07-05 08:34:19,22,2014-07-05 08:34:19,23,2014-07-05 08:34:19,21,2014-07-05 08:34:31,21,2014-07-05 08:34:33
82781,3996,2014-07-04 17:05:53,3413,2014-07-04 17:05:53,3996,2014-07-04 17:05:54,3605,2014-07-04 17:05:54,3324,2014-07-04 17:05:54,3322,2014-07-04 17:05:54,3606,2014-07-04 17:05:54,3607,2014-07-04 17:05:54,3996,2014-07-04 17:05:55,3606,2014-07-04 17:05:56
82782,32,2014-08-02 10:11:06,30,2014-08-02 10:11:06,33,2014-08-02 10:11:07,44651,2014-08-02 10:11:07,22,2014-08-02 10:11:07,29,2014-08-02 10:11:07,35,2014-08-02 10:11:07,44651,2014-08-02 10:11:12,44651,2014-08-02 10:11:18,44651,2014-08-02 10:11:24
82783,747,2014-05-25 16:43:32,38,2014-05-25 16:43:32,23,2014-05-25 16:43:33,513,2014-05-25 16:43:33,747,2014-05-25 16:43:33,747,2014-05-25 16:43:34,23,2014-05-25 16:43:34,749,2014-05-25 16:43:34,747,2014-05-25 16:43:35,52,2014-05-25 16:43:35
82784,5598,2014-05-02 11:03:37,5598,2014-05-02 11:03:38,5598,2014-05-02 11:03:39,5598,2014-05-02 11:03:40,5598,2014-05-02 11:03:41,5598,2014-05-02 11:03:44,5598,2014-05-02 11:03:49,984,2014-05-02 11:03:56,5598,2014-05-02 11:03:56,5598,2014-05-02 11:03:57
82785,22,2014-06-02 12:25:22,814,2014-06-02 12:25:22,570,2014-06-02 12:25:22,812,2014-06-02 12:25:22,23,2014-06-02 12:25:22,677,2014-06-02 12:25:22,677,2014-06-02 12:25:23,812,2014-06-02 12:25:23,570,2014-06-02 12:25:23,1039,2014-06-02 12:25:23
82786,786,2014-07-04 10:38:09,786,2014-07-04 10:38:13,782,2014-07-04 10:38:31,786,2014-07-04 10:38:32,782,2014-07-04 10:38:37,786,2014-07-04 10:38:39,786,2014-07-04 10:38:40,782,2014-07-04 10:39:01,782,2014-07-04 10:39:07,23,2014-07-04 10:39:08
82787,6801,2014-11-02 08:44:53,6801,2014-11-02 08:45:05,22,2014-11-02 08:45:08,23,2014-11-02 08:45:08,812,2014-11-02 08:45:12,6801,2014-11-02 08:45:18,39,2014-11-02 08:45:23,6801,2014-11-02 08:45:23,22,2014-11-02 08:45:26,6801,2014-11-02 08:45:26
82788,69,2014-12-05 12:10:09,67,2014-12-05 12:10:09,301,2014-12-05 12:10:28,301,2014-12-05 12:10:37,21,2014-12-05 12:10:49,21,2014-12-05 12:10:57,21,2014-12-05 12:11:04,21,2014-12-05 12:11:22,21,2014-12-05 12:11:23,22,2014-12-05 12:11:23
82789,30,2014-08-04 17:03:46,19394,2014-08-04 17:03:46,33,2014-08-04 17:03:46,19386,2014-08-04 17:03:46,19396,2014-08-04 17:03:46,19396,2014-08-04 17:03:47,19386,2014-08-04 17:03:47,19386,2014-08-04 17:03:48,19402,2014-08-04 17:03:48,22,2014-08-04 17:03:48
82790,167,2014-10-02 13:32:46,359,2014-10-02 13:32:46,167,2014-10-02 13:32:47,204,2014-10-02 13:32:47,3,2014-10-02 13:32:47,811,2014-10-02 13:32:47,203,2014-10-02 13:32:47,884,2014-10-02 13:32:48,5256,2014-10-02 13:32:48,883,2014-10-02 13:32:48
82791,677,2014-05-03 15:59:57,774,2014-05-03 16:05:02,677,2014-05-03 16:05:52,616,2014-05-03 16:06:59,570,2014-05-03 16:08:52,677,2014-05-03 16:11:52,616,2014-05-03 16:15:06,677,2014-05-03 16:17:52,570,2014-05-03 16:18:04,677,2014-05-03 16:23:53
82792,63,2014-05-27 12:37:09,3346,2014-05-27 12:40:43,167,2014-05-27 12:41:04,3,2014-05-27 12:41:12,167,2014-05-27 12:41:14,45064,2014-05-27 12:41:14,45065,2014-05-27 12:41:14,384,2014-05-27 12:41:14,23,2014-05-27 12:41:31,3346,2014-05-27 12:41:43
82793,812,2014-10-02 18:20:09,1039,2014-10-02 18:20:09,676,2014-10-02 18:20:09,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0,NaT
82794,300,2014-05-26 14:16:40,302,2014-05-26 14:16:41,302,2014-05-26 14:16:44,300,2014-05-26 14:16:44,300,2014-05-26 14:17:19,1222,2014-05-26 14:17:19,302,2014-05-26 14:17:19,1218,2014-05-26 14:17:19,1221,2014-05-26 14:17:19,1216,2014-05-26 14:17:19
82795,29,2014-05-02 11:21:56,33,2014-05-02 11:21:56,35,2014-05-02 11:21:56,22,2014-05-02 11:22:03,37,2014-05-02 11:22:03,6779,2014-05-02 11:22:03,30,2014-05-02 11:22:03,21,2014-05-02 11:22:04,23,2014-05-02 11:22:04,6780,2014-05-02 11:22:04
82796,5828,2014-05-03 10:05:25,23,2014-05-03 10:05:27,21,2014-05-03 10:05:27,804,2014-05-03 10:05:27,21,2014-05-03 10:05:36,3350,2014-05-03 10:05:37,23,2014-05-03 10:05:37,894,2014-05-03 10:05:38,21,2014-05-03 10:05:38,961,2014-05-03 10:05:38
82797,21,2014-11-02 10:46:57,1098,2014-11-02 10:46:57,1098,2014-11-02 10:46:58,1098,2014-11-02 10:47:12,1098,2014-11-02 10:47:13,1098,2014-11-02 10:47:14,1098,2014-11-02 10:47:15,1098,2014-11-02 10:47:18,1098,2014-11-02 10:47:42,1098,2014-11-02 10:47:47

### fill NA by zero

In [15]:
sites = ['site%s' % i for i in range(1, 11)]
sites

['site1',
 'site2',
 'site3',
 'site4',
 'site5',
 'site6',
 'site7',
 'site8',
 'site9',
 'site10']

In [16]:
df_train[sites] = df_train[sites].fillna(0).astype('int')
df_test[sites] = df_test[sites].fillna(0).astype('int')

#### load a dictionary of the sites

In [17]:
with open(r"../Kaggle/Alice/site_dic.pkl", "rb") as input_file:
    site_dict = pickle.load(input_file)

In [21]:
#site_dict

#### Make a DataFrame from the file object

In [23]:
site_dict_df = pd.DataFrame(list(site_dict.keys()),
                            index=list(site_dict.values()),
                            columns=['site'])

In [24]:
print('Number of the sites is ', site_dict_df.shape[0])
site_dict_df.head(5)

Number of the sites is  48371

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [25]:
y_train = df_train['target']
y_train.head(5)

session_id
21669     0
54843     0
77292     0
114021    0
146670    0
Name: target, dtype: int64

#### concatenate test and train samples

In [30]:
df_full = pd.concat([df_train.drop(['target'], axis=1), df_test])

In [32]:
df_train.shape

(253561, 21)

In [37]:
df_full[df_full.index == 100]

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
100,570,2014-03-24 09:58:28,677,2014-03-24 09:58:28,21,2014-03-24 09:58:47,20,2014-03-24 09:58:47,774,2014-03-24 09:58:53,3933,2014-03-24 09:59:14,4230,2014-03-24 09:59:14,591,2014-03-24 09:59:14,4353,2014-03-24 09:59:14,4228,2014-03-24 09:59:14
100,301,2014-12-05 12:17:19,66,2014-12-05 12:17:36,67,2014-12-05 12:17:36,70,2014-12-05 12:17:36,69,2014-12-05 12:17:36,71,2014-12-05 12:17:36,68,2014-12-05 12:17:36,167,2014-12-05 12:17:40,270,2014-12-05 12:17:47,302,2014-12-05 12:17:48

#### create an index to separate train and test samples

In [38]:
idx = df_train.shape[0]
idx
### df_train.iloc[idx-1, :]

253561

In [39]:
full_sites = df_full[sites]
full_sites.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947

#### Create a sparse matrix

In [40]:
from scipy.sparse import csr_matrix

In [41]:
sites_flatten = full_sites.values.flatten()

In [42]:
sites_flatten.shape,full_sites.shape

((3363580,), (336358, 10))

In [43]:
full_sites_sparse = csr_matrix(([1]*sites_flatten.shape[0],
                               sites_flatten,
                               range(0, sites_flatten.shape[0]+10, 10)))[:, 1:]

In [44]:
full_sites_sparse?

In [45]:
full_sites_sparse.shape, idx

((336358, 48371), 253561)

In [49]:
X_train_sparse = full_sites_sparse[:idx]
X_test_sparse = full_sites_sparse[idx:]

In [50]:
X_train_sparse.shape, X_test_sparse.shape

((253561, 48371), (82797, 48371))

### First model

#### Logistic regression from sklearn, defaule parameters

#### коэффициент регуляризации логистической регрессии, ?*!
#### sparse matrix ?*!

In [51]:
logit = LogisticRegression(n_jobs=-1, random_state=17)
#logit?

In [52]:
%%time
logit.fit(X_train_sparse, y_train)

d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1300: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

Wall time: 43.2 s

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn', n_jobs=-1,
          penalty='l2', random_state=17, solver='warn', tol=0.0001,
          verbose=0, warm_start=False)

In [53]:
logit.predict(X_test_sparse[:20,:])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [54]:
logit.predict_proba(X_test_sparse[:20,:])

array([[9.97790005e-01, 2.20999496e-03],
       [9.99999995e-01, 4.81233022e-09],
       [9.99999981e-01, 1.87319556e-08],
       [9.99999976e-01, 2.35574850e-08],
       [9.99968692e-01, 3.13078904e-05],
       [9.99781499e-01, 2.18501260e-04],
       [9.99451999e-01, 5.48001189e-04],
       [9.99867710e-01, 1.32290079e-04],
       [9.99204760e-01, 7.95239538e-04],
       [8.96870707e-01, 1.03129293e-01],
       [9.99969630e-01, 3.03701562e-05],
       [9.99913564e-01, 8.64363178e-05],
       [9.99562391e-01, 4.37608546e-04],
       [6.42330912e-01, 3.57669088e-01],
       [9.99949795e-01, 5.02051216e-05],
       [9.95990878e-01, 4.00912219e-03],
       [9.84797881e-01, 1.52021190e-02],
       [9.99968061e-01, 3.19385456e-05],
       [9.99065810e-01, 9.34190359e-04],
       [9.99999727e-01, 2.72961211e-07]])

In [55]:
def get_auc_lr_valid(X, y, C=1.0, ratio=0.9, seed=17):
    train_len = int(X.shape[0]*ratio)
    X_train = X[:train_len, :]
    X_valid = X[train_len:, :]
    y_train = y[:train_len]
    y_valid = y[train_len:]
    
    logit = LogisticRegression(n_jobs=-1, random_state=seed, C=C)
    ### LogisticRegression?
    
    logit.fit(X_train, y_train)
    
    valid_pred = logit.predict_log_proba(X_valid)[:, 1]
    return roc_auc_score(y_valid, valid_pred)

In [56]:
%%time
get_auc_lr_valid(X_train_sparse,y_train)

d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1300: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

Wall time: 31.2 s

0.9195282186629375

In [57]:
test_pred = logit.predict_proba(X_test_sparse)[:,1]

In [58]:
test_pred.shape

(82797,)

In [60]:
df_test_to_file = pd.Series(test_pred, index=range(1, test_pred.shape[0]+1), name='target')

In [61]:
df_test_to_file.head()

1    2.209995e-03
2    4.812330e-09
3    1.873196e-08
4    2.355749e-08
5    3.130789e-05
Name: target, dtype: float64

In [62]:
df_test_to_file.to_csv('first_model.csv', header=True, index_label='session_id')

### Model with additional features

In [63]:
times = ['time%d' % i for i in range(1,11)]

In [64]:
times

['time1',
 'time2',
 'time3',
 'time4',
 'time5',
 'time6',
 'time7',
 'time8',
 'time9',
 'time10']

In [65]:
df_train.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55,2013-01-12 08:05:57,0,NaT,0,NaT,0,NaT,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
54843,56,2013-01-12 08:37:23,55,2013-01-12 08:37:23,56,2013-01-12 09:07:07,55,2013-01-12 09:07:09,0,NaT,...,NaT,0,NaT,0,NaT,0,NaT,0,NaT,0
77292,946,2013-01-12 08:50:13,946,2013-01-12 08:50:14,951,2013-01-12 08:50:15,946,2013-01-12 08:50:15,946,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948,2013-01-12 08:50:16,784,2013-01-12 08:50:16,949,2013-01-12 08:50:17,946,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948,2013-01-12 08:50:17,949,2013-01-12 08:50:18,948,2013-01-12 08:50:18,945,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947,2013-01-12 08:50:19,945,2013-01-12 08:50:19,946,2013-01-12 08:50:19,946,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950,2013-01-12 08:50:20,948,2013-01-12 08:50:20,947,2013-01-12 08:50:21,950,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946,2013-01-12 08:50:21,951,2013-01-12 08:50:22,946,2013-01-12 08:50:22,947,2013-01-12 08:50:22,0

In [66]:
df_train[times].head()

,time1,time2,time3,time4,time5,time6,time7,time8,time9,time10
session_id,,,,,,,,,,
21669,2013-01-12 08:05:57,2013-01-12 08:05:57,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
54843,2013-01-12 08:37:23,2013-01-12 08:37:23,2013-01-12 09:07:07,2013-01-12 09:07:09,NaT,NaT,NaT,NaT,NaT,NaT
77292,2013-01-12 08:50:13,2013-01-12 08:50:14,2013-01-12 08:50:15,2013-01-12 08:50:15,2013-01-12 08:50:16,2013-01-12 08:50:16,2013-01-12 08:50:16,2013-01-12 08:50:16,2013-01-12 08:50:17,2013-01-12 08:50:17
114021,2013-01-12 08:50:17,2013-01-12 08:50:17,2013-01-12 08:50:18,2013-01-12 08:50:18,2013-01-12 08:50:18,2013-01-12 08:50:18,2013-01-12 08:50:19,2013-01-12 08:50:19,2013-01-12 08:50:19,2013-01-12 08:50:20
146670,2013-01-12 08:50:20,2013-01-12 08:50:20,2013-01-12 08:50:20,2013-01-12 08:50:21,2013-01-12 08:50:21,2013-01-12 08:50:21,2013-01-12 08:50:21,2013-01-12 08:50:22,2013-01-12 08:50:22,2013-01-12 08:50:22

In [67]:
df_train['time1'].head()

session_id
21669    2013-01-12 08:05:57
54843    2013-01-12 08:37:23
77292    2013-01-12 08:50:13
114021   2013-01-12 08:50:17
146670   2013-01-12 08:50:20
Name: time1, dtype: datetime64[ns]

In [68]:
df_train.shape

(253561, 21)

In [69]:
df_train['time1'].apply(lambda ts: ts.year*100+ts.month).head()

session_id
21669     201301
54843     201301
77292     201301
114021    201301
146670    201301
Name: time1, dtype: int64

In [70]:
df_new_feat_train = pd.DataFrame(index=df_train.index)
#df_new_feat_train.index.name='session_id'  ### changed index name

#pd.DataFrame?

df_new_feat_test = pd.DataFrame(index=df_test.index)
#df_new_feat_test.index.name='session_id'

In [71]:
df_new_feat_test.head()

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5]

In [72]:
df_new_feat_train.head()

Empty DataFrame
Columns: []
Index: [21669, 54843, 77292, 114021, 146670]

In [73]:
df_new_feat_train['year_month'] = df_train.time1.apply(lambda ts: ts.year*100+ts.month)
#df_new_feat_train['year_month'] = df_new_feat_train['year_month'].apply(pd.astype('int'))

In [74]:
df_new_feat_test['year_month'] = df_test['time1'].apply(lambda ts: ts.year*100+ts.month)

In [75]:
df_new_feat_train['year_month'].head()

session_id
21669     201301
54843     201301
77292     201301
114021    201301
146670    201301
Name: year_month, dtype: int64

In [76]:
df_new_feat_test.head()

            year_month
session_id
1               201410
2               201407
3               201412
4               201411
5               201405

#### scalerize

In [77]:
scaler = StandardScaler()

In [78]:
scaler.fit(df_new_feat_train['year_month'].values.reshape(-1, 1))

d:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [79]:
df_new_feat_train.index.shape, df_new_feat_train.year_month.shape

((253561,), (253561,))

In [80]:
df_new_feat_train['y_m_scaled'] = scaler.transform(df_new_feat_train['year_month'].values.reshape(-1, 1))
df_new_feat_test['y_m_scaled'] = scaler.transform(df_new_feat_test['year_month'].values.reshape(-1, 1))

d:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
d:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [81]:
df_new_feat_train.head()

            year_month  y_m_scaled
session_id
21669           201301   -1.744405
54843           201301   -1.744405
77292           201301   -1.744405
114021          201301   -1.744405
146670          201301   -1.744405

In [82]:
X_train_sparse_new = csr_matrix(hstack([X_train_sparse,
                           df_new_feat_train['y_m_scaled'].values.reshape(-1, 1)]))

In [83]:
X_train_sparse.shape, df_new_feat_train['y_m_scaled'].values.reshape(-1, 1).shape

((253561, 48371), (253561, 1))

In [84]:
df_new_feat_train['y_m_scaled'].values.reshape(-1, 1)

array([[-1.74440496],
       [-1.74440496],
       [-1.74440496],
       ...,
       [ 0.68162559],
       [ 0.68162559],
       [ 0.68162559]])

In [85]:
get_auc_lr_valid(X_train_sparse_new, y_train)

d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1300: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

0.9196941166738521

In [ ]:
## df_new_feat_train['year_month'] = df_train.time1.apply(lambda ts: ts.year*100+ts.month)

In [88]:
df_train.time1.apply(lambda ts: ts.hour*60+ts)

session_id
21669    2013-01-12 08:05:57
54843    2013-01-12 08:37:23
77292    2013-01-12 08:50:13
114021   2013-01-12 08:50:17
146670   2013-01-12 08:50:20
Name: time1, dtype: datetime64[ns]

In [96]:
df_train[df_train.target == 1]['time1'].apply(lambda ts: ts.hour).value_counts()

16    879
17    618
12    340
13    196
18    179
15     40
9      38
14      4
11      3
Name: time1, dtype: int64

In [97]:
df_PM_time = df_train.time1.apply(lambda ts: ts.hour)

In [100]:
df_PM_time = df_PM_time >= 12

In [105]:
df_PM_time = df_PM_time.astype('int')
df_PM_time

session_id
21669     0
54843     0
77292     0
114021    0
146670    0
242171    0
57157     0
240201    0
210686    0
98804     0
113494    0
223837    0
145475    0
186633    0
45193     0
102930    0
15789     0
205868    0
21102     0
193454    0
252924    0
12713     0
182016    0
55750     0
237109    0
120126    0
140105    0
129357    0
136699    0
113189    0
         ..
131402    1
72349     1
181940    1
67431     1
133256    1
78516     1
159245    1
6103      1
126232    1
62543     1
122173    1
182723    1
216796    1
88873     1
201960    1
99918     1
35923     1
91326     1
182878    1
36912     1
101406    1
66477     1
221866    1
101395    1
33802     1
12224     1
164438    1
12221     1
156968    1
204762    1
Name: time1, Length: 253561, dtype: int32

In [106]:
X_train_sparse_new = csr_matrix(hstack([X_train_sparse_new,
                           df_PM_time.values.reshape(-1, 1)]))

In [107]:
get_auc_lr_valid(X_train_sparse_new, y_train)

d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1300: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

0.9484861013997626

In [108]:
%%time
logit.fit(X_train_sparse_new, y_train)

d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
d:\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1300: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 2.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

Wall time: 40.3 s

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn', n_jobs=-1,
          penalty='l2', random_state=17, solver='warn', tol=0.0001,
          verbose=0, warm_start=False)

In [112]:
df_new_feat_test.head()

            year_month  y_m_scaled
session_id
1               201410    0.822948
2               201407    0.752287
3               201412    0.870055
4               201411    0.846501
5               201405    0.705179

In [113]:
df_PM_time_test = df_test.time1.apply(lambda ts: ts.hour)

In [116]:
df_PM_time_test = df_PM_time_test >= 12

In [118]:
df_PM_time_test = df_PM_time_test.astype('int')
df_PM_time_test.head()

session_id
1    0
2    0
3    1
4    0
5    1
Name: time1, dtype: int32

In [119]:
df_new_feat_test['PM_time'] = df_PM_time_test

In [147]:
df_new_feat_test.head()

            year_month  y_m_scaled  PM_time
session_id
1               201410    0.822948        0
2               201407    0.752287        0
3               201412    0.870055        1
4               201411    0.846501        0
5               201405    0.705179        1

In [149]:
X_test_sparse_new = csr_matrix(hstack([X_test_sparse,
                           df_new_feat_test.loc[:, ['y_m_scaled', 'PM_time']]]))

In [144]:
X_test_sparse_new.shape, X_test_sparse.shape,df_new_feat_test.shape

((82797, 48373), (82797, 48371), (82797, 3))

In [148]:
df_new_feat_test.loc[:,['y_m_scaled', 'PM_time']]

            y_m_scaled  PM_time
session_id
1             0.822948        0
2             0.752287        0
3             0.870055        1
4             0.846501        0
5             0.705179        1
6             0.870055        0
7             0.705179        1
8             0.705179        1
9             0.728733        0
10            0.705179        0
11            0.870055        1
12            0.870055        0
13            0.822948        0
14            0.775840        0
15            0.870055        1
16            0.705179        0
17            0.705179        1
18            0.846501        0
19            0.846501        1
20            0.775840        0
21            0.705179        1
22            0.705179        1
23            0.705179        1
24            0.752287        1
25            0.705179        1
26            0.705179        1
27            0.870055        0
28            0.705179        0
29            0.822948        1
30            0.870055        1
...                ...      ...
82768         0.705179        1
82769         0.822948        1
82770         0.705179        1
82771         0.846501        0
82772         0.728733        1
82773         0.728733        1
82774         0.822948        0
82775         0.752287        0
82776         0.705179        0
82777         0.705179        0
82778         0.728733        1
82779         0.705179        1
82780         0.752287        0
82781         0.752287        1
82782         0.775840        0
82783         0.705179        1
82784         0.705179        0
82785         0.728733        1
82786         0.752287        0
82787         0.846501        0
82788         0.870055        1
82789         0.775840        1
82790         0.822948        1
82791         0.705179        1
82792         0.705179        1
82793         0.822948        1
82794         0.705179        1
82795         0.705179        0
82796         0.705179        0
82797         0.846501        0

[82797 rows x 2 columns]

In [150]:
test_pred = logit.predict_proba(X_test_sparse_new)[:,1]

In [151]:
test_pred.shape

(82797,)

In [152]:
df_test_to_file = pd.Series(test_pred, index=range(1, test_pred.shape[0]+1), name='target')

In [153]:
df_test_to_file.head()

1    5.949728e-05
2    9.636117e-08
3    1.416581e-08
4    7.394031e-10
5    3.255248e-05
Name: target, dtype: float64

In [154]:
df_test_to_file.to_csv('second_model.csv', header=True, index_label='session_id')